.rumor_week{
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.rumor_week p {
  margin: 0;
  padding: 0;
  font-size: small;

}
.rumor_all{
  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.rumor_all p {
  margin: 0;
  padding: 0;
  font-size: small;
}
