@charset "utf-8";
/* **************************************************

CSS Information
File Name : base.css
Style Info: サイト共通のスタイル指定
Date: 2015-10-09
	
************************************************** */
/* --------------------------------------------------
	01 - Basic Setting
-------------------------------------------------- */
html {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","メイリオ", Meiryo,  sans-serif;
	font-size: 62.5%; /* font-size: 10px相当*/
	line-height: 1.5;
}

body {
	background-color: #fff;
	color: #333;
	text-align: center;
}

/*	Link Settings
-------------------------------------------------- */
a {
	color: #333;
	text-decoration: none;
}

a:link {
	
}

a:visited {
	
}

a:focus {
	
}

a:hover {
	color: #ff9800;
	text-decoration: underline;
}

a:active {
	
}

/*	汎用Class
-------------------------------------------------- */
/* Clearfix */
.cf {
}

.cf:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.inner {
	width: 1000px;
	margin: 0 auto;
}

.inner:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

section,
.block {
}

section:after,
.block:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.imgL,
.fl {
	float: left;
}

.imgR,
.fr {
	float: right;
}

.imgL {
	margin-right: 10px;
	margin-bottom: 10px;
}

.imgR {
	margin-bottom: 10px;
	margin-left: 10px;
}

.al {
	text-align: left !important;
}

.ac {
	text-align: center !important;
}

.ar {
	text-align: right !important;
}

.btn {
	margin-bottom: 0 !important;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/* --------------------------------------------------
	.navSkip - スクリーンリーダー用
-------------------------------------------------- */
.navSkip {
	display: none;
}


/* --------------------------------------------------
	#page - ページコンテナ
-------------------------------------------------- */
#page {
	position: relative;
	text-align: left;
}


/* --------------------------------------------------
	#globalHeader - ヘッダー
-------------------------------------------------- */
#globalHeader {
	min-width: 1220px;
	background: url(../tmpl-img/bg_header01.jpg) no-repeat center bottom;
}

#globalHeader:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

	/*	.topHeader - トップ
	-------------------------------------------------- */
	.topHeader {
		padding: 5px 0;
		background-color: #14b4d2;
		color: #fff;
		text-align: left;
	}
	
	.topHeader h1 {
		font-size: 1.1em;
	}
	

#globalHeader .inner {
	width: 1020px;
}	

	/*	#siteID - サイトID
	-------------------------------------------------- */
	#siteID {
		float: left;
		width: 410px;
		margin-left: 12px;
		padding: 20px 0 18px;
	}
	
	#siteID a {
		text-decoration: none;
	}
		

	.subHeader {
		float: right;
		padding: 20px 0 0;
	}
		
		/*	.headerFont - フォントサイズ切り替え
		-------------------------------------------------- */
		.headerFont {
			float: right;
			width: 167px;
			margin-left: 18px;
		}
		
		.headerFont p {
			float: left;
			margin-right: 8px;
			font-size: 12px;
			font-size: 1.2rem;
			line-height: 32px;
		}
		
		.headerFont li {
			float: left;
			width: 30px;
			height: 28px;
			margin-left: 3px;
			font-size: 14px;
			font-size: 1.4rem;
			font-weight: bold;
			text-align: center;
			line-height: 28px;
		}
		
		.headerFont ul li:first-child {
			margin-left: 0;
		}
	
		.headerFont li a {
			display: block;
			background-color: #eee;
			border: 2px solid #ddd;
			text-decoration: none;
		}
		
		.headerFont li .textresizer-active {
			background: #28b45a;
			border: 2px solid #28b45a;
			color: #fff;		
		}
		
		.fontSmall {
			font-size: 100% !important;
		}
		
		.fontMedium {
			font-size: 110% !important;
		}
	
		.fontLarge {
			font-size: 120% !important;
		}
	
		/*	.headerUtility - ユーティリティナビ
		-------------------------------------------------- */
		.headerUtility {
			float: right;
			margin-left: 10px;
		}
		
		.headerUtility p {
			font-size: 14px;
			font-size: 1.4rem;
			font-weight: bold;
		}
		
		.headerUtility a {
			display: block;
			width: 160px;
			padding: 8px 0;
			background-color: #28b45a;
			border-radius: 5px;
			color: #fff;
			text-align: center;
			text-decoration: none;
		}
		
		.headerUtility a span {
			display: inline-block;
			padding-left: 16px;
			background: url(../tmpl-img/ico_about01.png) no-repeat left center;
		}
	
		/*	.headerNavi - ヘッダーナビゲーション
		-------------------------------------------------- */
		.headerNavi {
			margin-top: 12px;
		}
	
		.headerNavi ul {
			float: right;
		}
	
		.headerNavi li {
			float: left;
			margin-left: 17px;
			font-size: 14px;
			font-size: 1.4rem;
		}
		
		.headerNavi li a {
			display: block;
			padding-left: 17px;
		}
		
		.headerNavi .hNavi01 a  {
			background: url(../tmpl-img/ico_home01.png) no-repeat left center;
		}
		
		.headerNavi .hNavi02 a {
			background: url(../tmpl-img/ico_sitemap01.png) no-repeat left center;		

		}


/* --------------------------------------------------
	#gNavi - グローバルナビゲーション
-------------------------------------------------- */
#gNavi {
	background-color: #ebf0f3;
}

#gNavi .inner {
	width: 1020px;
}

#gNavi ul {
}

#gNavi li {
	display: table;
	float: left;	
	width: 180px;
	height: 70px;	
	border-right: 1px solid #fff;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.3;
		
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;		
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;	
}

#gNavi li:first-child {
	width: 100px;
	background-color: #73d2e4;
	border-left: 1px solid #fff;
	font-size: 12px;
	font-size: 1.2rem;
	text-align: center;
}

#gNavi .gnavi04 {
	width: 185px;
}

#gNavi li a {
	display: table-cell;
	color: #333;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

#gNavi li a:hover {
	background-color: #ffc236;
}

#gNavi .current a {
	background-color: #ffc236
}

#gNavi li span {
	display: inline-block;
	padding-left: 26px;
	text-align: left !important;	
}

/* ホーム */
#gNavi .gNavi01 span {
	padding-top: 26px;
	padding-left: 0;
	background: url(../tmpl-img/ico_gnavi01.png) no-repeat center top;
}

/* 風水害 */
#gNavi .gNavi02 span {
	background: url(../tmpl-img/ico_gnavi02.png) no-repeat left center;
}

/* 地震・津波 */
#gNavi .gNavi03 span {
	background: url(../tmpl-img/ico_gnavi03.png) no-repeat left center;
}

/* 各市町村の災害情報 */
#gNavi .gNavi04 span {
	background: url(../tmpl-img/ico_gnavi04.png) no-repeat left center;
}

/* 防災マップを作ろう・使おう */
#gNavi .gNavi05 span {
	background: url(../tmpl-img/ico_gnavi05.png) no-repeat left center;
}

/* 災害情報高度利用システム */
#gNavi .gNavi06 span {
	background: url(../tmpl-img/ico_gnavi06.png) no-repeat left center;
}

#gNavi .gNavi06 span:after {
	content:url(../tmpl-img/ico_externallink02.png);
	padding-left: 3px;
}


/* --------------------------------------------------
	#contents - コンテンツ
-------------------------------------------------- */
#contents {
	padding: 30px 0 0;
	background-color: #f3f2ed;
}

#contents:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

	/* --------------------------------------------------
		#main - メイン
	-------------------------------------------------- */
	#main {
		float: right;
		width: 750px;
	}
	
		/*	#snsLink - SNS共有リンク
		-------------------------------------------------- */
		#snsLink {
			margin-bottom: 20px;
			text-align: right;
		}
	
	/* --------------------------------------------------
		#side - サイド
	-------------------------------------------------- */
	#side {
		float: left;
		width: 220px;
	}
	
	/*	.column3 - 3カラムレイアウトの場合
	-------------------------------------------------- */
	.column3 #main {
		float: left;
		width: 520px;
		margin-left: 250px;
		background: none;
	}
	
	.column3 .leftColumn {
		float: left;
		width: 220px;
		margin-left: -770px;
	}
	
	.column3 .rightColumn {
		float: left;
		width: 200px;
		margin-left: 30px;
	}


/* --------------------------------------------------
	#globalFooter - フッター
-------------------------------------------------- */
#globalFooter {
}

#globalFooter:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

	/*	.footerPagetop - ページトップ
	-------------------------------------------------- */
	.footerPagetop {
		padding-top: 60px;
		background-color: #f3f2ed;
		text-align: right;
	}
	
	/*	.footerBannerArea - フッターバナーエリア
	-------------------------------------------------- */
	.footerBannerArea {
		padding: 16px 0;
		background-color: #e0e0e0;
	}
	
	.footerBannerArea li {
		float: left;
		width: 160px;
		margin-left: 8px;
	}
	
	.footerBannerArea li:first-child {
		margin-left: 0;
	}

	.subFooter {
		padding: 27px 0 25px;
		background-color: #14b4d2;	
	}
	
	.subFooter:after {
		content: "";
		display: block;
		clear: both;
	}
	
	/*	.footerNavi - フッターナビゲーション
	-------------------------------------------------- */
	.footerNavi {
		float: left;
	}
	
	.footerNavi ul {
		float: left;
		margin-right: 32px;
	}
	
	.footerNavi li {
		margin-bottom: 16px;
		font-size: 12px;
		font-size: 1.2rem;
	}
	
	.footerNavi li a {
		color: #fff;
	}
	
	.footerNavi li a span {
		display: block;
		padding-left: 17px;
		background: url(../tmpl-img/ico_arrow03.png) no-repeat left center;
	}
	
	.footerNavi .home a span {
		background: url(../tmpl-img/ico_home02.png) no-repeat left center;
	}
	
	/*	.footerInfo
	-------------------------------------------------- */
	.footerInfo {
		float: right;
	}
	
	.footerInfo p {
		width: 380px;
		padding: 14px;
		border: 1px solid #fff;
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 1.8;
		color: #fff;
	}
	
	/*	.copyright - コピーライト
	-------------------------------------------------- */
	.copyright {
		padding: 9px 0;	
		background-color: #465a59;
		text-align: center;
	}
	
	.copyright small {
		color: #fff;
		font-size: 12px;
		font-size: 1.2rem;
	}